
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var username = Context.Session.GetString("username");
}

<div className="my-0 mx-auto h-[650px] text-center" style="text-align:center">
    <div className="rounded-[50%] my-[20px]" style="display:flex; justify-content:center">
        <img className="w-[200px] m-auto"
             src="https://cdn-icons-png.freepik.com/512/641/641813.png"
             alt="Post checkout picture" />
    </div>

    <h1 className="text-[#0aa38f] mt-[20px]">Place order successfully!</h1>

    <div className="mt-[20px] border-t-[2px] border-solid border-[#333]"></div>
    <p className="font-bold mt-[20px] text-[17px] text-[#333] ml-[20px]">
        Thank you for shopping at GearShop!
    </p>
    <p className="text-[17px] text-[#333] ml-[20px]">
        Your order will be processed and we will quickly deliver the goods to
        the address you provided.
        <br />
        The department in charge will proactively contact you as soon as
        possible.
        <br />
        In case you need urgent support, please contact Hotline:
        <span className="text-[24px] text-red-500">+012 345 6789</span>
    </p>
    <p className="text-[17px] text-[#333] ml-[20px]">
        Thank you for trusting and choosing our service!
    </p>

    <div className="flex justify-center gap-3">
        <buton className="flex text-white py-[10px] px-[20px] rounded-[5px] no-underline mt-[20px]" style="background-color:#0aa38f; padding: 10px 20px; border-radius:5px; margin-top:20px;color:#fff; margin-right:10px; cursor:pointer"
               onclick="handleLinkClick('/shop')">
            Continue shopping
        </buton>
        <buton className="flex text-white py-[10px] px-[20px] rounded-[5px] no-underline mt-[20px]" style="background-color:#0aa38f; padding: 10px 20px; border-radius:5px; margin-top:20px;color:#fff; cursor:pointer;"
               onclick="handleLinkClick('/Account/MyOrder')">
            View order details
        </buton>
    </div>
</div>

<script>
    $(document).ready(function () { 
        let isCompletechecout = sessionStorage.getItem("completeCheckout");
        if (!isCompletechecout) {
            window.location.href = "/Cart";
        }
    })

    const handleLinkClick = async (link) => {
        await sessionStorage.removeItem("completeCheckout");
        window.location.href = link;
    }
</script>